{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
        #container {
            text-align: center;
        }
        
        #myCanvas {
            margin-top: 100px;
            height: 750px;
            width: 750px;
            border: 1px solid blue;
        }  
    </style>

</head>
<body>
    <div id="container">
        <!-- You may change the dimensions of this canvas -->
        <canvas id="myCanvas"></canvas>
      <!--exercise 2 change color -->
        <div id = "box" style = "background-color:blue; width:100px; height:100px; position:absolute; top:10px;">

    </div>
    <p id="msg"></p>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var socket = new WebSocket('ws://p4-mjiachan-mjiachan854394.codeanyapp.com:8765/');
    
    // Set BroadCast
    var textItem = new paper.PointText(new paper.Point(20, 30));
    textItem.fillColor = 'black';
    textItem.content = 'Here is BroadCast Board';
    
    // Define Client Info Object
    class Client {
        constructor(myID, myColor, myPath) {
            this.id = myID;
            this.color = myColor;
            this.path = myPath;
        }
        
        getID() {
            return this.id;
        }
        
        getColor() {
            return this.color;
        }
        
        getPath() {
            return this.path;
        }
        
        addPoint(x, y) {
            this.path.add(new paper.Point(x, y));
        }
    }
    
    // Define Clients Tracking
    class Users {
        constructor() {
            this.users = {};
        }
        
        getUser(clientID) {
            return this.users[clientID];
        }
        
        addPointToClient(clientID, x, y) {
            this.users[clientID].addPoint(x, y);
        }
        
        hasUser(clientID) {
            if (this.users[clientID] != undefined) {
                return true;
            }
            return false;
        }
        
        addUser(client) {
            var clientID = client.getID();
            this.users[clientID] = client;
        }
    }
    
    // Central System that keeps track of every Client
    var users = new Users();
    
    var myID = Math.floor(Math.random() * 1000000000);
    var myColor = new paper.Color(Math.random(), Math.random(), Math.random());
    var myPath = new paper.Path();
    myPath.strokeColor = myColor;
    
    var mySelf = new Client(myID, myColor, myPath);
    users.addUser(mySelf);

    // Add a point to path every time
    tool.onMouseMove = function(event) {
        myPath.add(event.point);
        textItem.content = "Drawing Color: " + myPath.strokeColor;
        socket.send(JSON.stringify({userID: myID, userColor: myColor, x: event.point.x, y: event.point.y}));
    }
    
    socket.onmessage = function(event) {
        var msg = JSON.parse(event.data);
        var userID = msg.userID;
        var userColor = new paper.Color(msg.userColor[1], msg.userColor[2], msg.userColor[3]);
        
        if (!users.hasUser(userID)) {
            var pathDraw = new paper.Path();
            pathDraw.strokeColor = userColor;
            pathDraw.add(new paper.Point(msg.x, msg.y)); 
            users.addUser(new Client(userID, userColor, pathDraw));
            
//             textItem.content = "Receive Color 1-1: " + userColor + "\n" + "Receive Color 1-2: " + pathDraw.strokeColor;
        }
        else if (userID != myID) { // Avoid mySelf's path (duplicate)
            users.addPointToClient(userID, msg.x, msg.y);
//             textItem.content = "Receive Color 2-1: " + userColor + "\n" + "Receive Color 2-2: " + users.getUser(userID).getPath();
        }
    }
    
    //exercise 2
    var sensitivity = 15;
    var x1 = 0, y1 = 0, z1 = 0, x2 = 0, y2 = 0, z2 = 0;

    // Listen to motion events and update the position
    window.addEventListener('devicemotion', function (event) {
        x1 = event.accelerationIncludingGravity.x;
        y1 = event.accelerationIncludingGravity.y;
        z1 = event.accelerationIncludingGravity.z;
    }, false);


    setInterval(function () {
        var change = Math.abs(x1-x2+y1-y2+z1-z2);

        if (change > sensitivity) {
            const context = canvas.getContext('2d');

             context.clearRect(0, 0, canvas.width, canvas.height);
        }

        // Update new position
        x2 = x1;
        y2 = y1;
        z2 = z1;
    }, 150);
  
  
  
      var x = 0;
  if (window.DeviceOrientationEvent) {
    window.addEventListener('deviceorientation', function(event) {
      setInterval(function() {
        x = event.gamma;
        if (x > 0) {
          document.getElementById("box").style.backgroundColor = "black";
          alert('tilt');
        }
    }, 50);  
     
    }, false);
} else {
    console.log('This device does not support deviceorientation');
}

  
  
  
  
    
   
  
    
  
  


</script>
</html>